.container {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  width: 100%;
}

.username {
  flex: 1;
  margin: 0 0.2rem;
}

.count-down {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.2rem;
}

.group-button {
  background-color: #e02f29;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0.2rem .6rem;
  border: 0;
}

.remaining-number {
  color: #e02f29;
}
