<router-outlet> </router-outlet>

<!-- [selectedIndex] 从路由来 它是个流， $ | async -->

<!-- // 6-1 -2 -3 底部footer -->

<!-- <app-footer [selectedIndex]="selectedIndex$ | async" (tabSelected)="handleTabSelect($event)"></app-footer> -->


<!-- <app-test-temp></app-test-temp> -->
<!-- <app-scrollable-tab [menus]="topMenus2"></app-scrollable-tab> -->
<!-- <app-type-script></app-type-script> -->

<app-footer [selectedIndex]="selectedIndex$ | async" (tabSelected)="handleTabSelect($event)"></app-footer>


<!-- <ng-container *ngIf="isShowFooter">
  119{{(selectedIndex$ | async)}}0{{selectedIndex$ | async}}
  <app-footer [selectedIndex]="selectedIndex$ | async" (tabSelected)="handleTabSelect($event)"></app-footer>
</ng-container> -->
<!-- {{selectedIndex$ | async}} -->
<!-- 
<ng-container *ngIf="(selectedIndex$ | async) !== 5 else other">
  <app-footer [selectedIndex]="selectedIndex$ | async" (tabSelected)="handleTabSelect($event)"></app-footer>
</ng-container>

<ng-template #other>
  000
</ng-template> -->


<!--//  7-5 弹窗 发起拼单 单独建立个模块module app文件夹 dialog 因为他要访问数据等. (click)="removeDialog()" -->
<div id="overlay" class="hidden" appRemoveDialog></div>
<div id="dialog-container" class="hidden"></div>


<!-- 看一下效果
  <div id="overlay" class="show" (click)="removeDialog()"></div>
<div id="dialog-container" class="show">hello</div> -->
