:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  height: 100%;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* height: 3rem; */
  height: calc(100% - 7rem);
  /* height: 1rem; */
  /* 这个必须赋一个值。不能太大，不然不能滚动。*/
  /* background-color: yellow; */
}


app-back-button {
  position: fixed;
  left: 1rem;
  top: 1.2rem;
  z-index: 2000;
}

.title,
.coupon,
.guarantee,
.group-short-list {
  grid-column: 1/4;
}

.price-section {
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  place-content: start;
  place-items: baseline;
  grid-gap: 3px;
  margin: 10px 10px 0;
}

.price-section .now-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
}

.price-section .list-price {
  color: #3f3f3f;
  text-decoration: line-through;
}

.price-section .sales-count {
  justify-self: end;
}

.price-section .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 3px;
}

.price-section .coupon {
  /* font-weight: bold;
  font-size: 1.2rem;
  mar */
}

.price-section .guarantee {
  color: darkgray;
  font-size: 1.1rem;
  margin: 3px 0;
}

/* app-group-short-list 组件样式 */
.group-short-list {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.4rem 0
}
